.Mood {
  --moodMainColor: white;
  background-color: var(--moodMainColor);
  background: linear-gradient(200deg, var(--moodMainColor), rgba(0, 0, 0, 0));
  height: 200px;
  width: 200px;
  border: none;
  transition: 400ms;
}
.Mood span {
  color: #424242;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -2px;
}
.Mood span::after {
  content: ".";
}
.Mood:hover {
  cursor: pointer;
  transform: scale(1.5);
}
