.Orb {
  --orbMainColor: white;
  background: radial-gradient(
    var(--orbMainColor) 10%,
    rgba(255, 255, 255, 0) 70%
  );
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  transition: this 200ms;
  opacity: 70%;
}
.Orb span {
  color: #212121;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -2px;
  text-transform: capitalize;
}
.Orb span::after {
  content: ".";
}
.Orb:hover {
  opacity: 100%;
  cursor: pointer;
}
