.Orb {
  --orbMainColor: white;
  background: radial-gradient(
    var(--orbMainColor) 10%,
    rgba(255, 255, 255, 0) 70%
  );
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  transition: 400ms;
}
.Orb span {
  color: #424242;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -2px;
}
.Orb span::after {
  content: ".";
}
.Orb:hover {
  cursor: pointer;
}
