body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 246);
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}
.App .flex {
  display: flex;
}
.App .col {
  flex-direction: column;
}
